{% include 'common/header.twig' %}
{% include 'common/navigation.twig' %}

<div class="container">

	<div class="">
			<h1>Just paste</h1>
			<p>Hello world</p>
	</div>

</div> <!-- /container -->

{% include 'common/footer.twig' %}